
{%extends 'base.html'%}

{%block content%}

<h1>Cart</h1>

{%if cart.products.exists%}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Num</th>
      <th scope="col">Product Name</th>

      <th scope="col">Product Price</th>
    </tr>
  </thead>
  <tbody>
 {% for product in cart.products.all %}
    <tr class='cart-product'>
      <th scope="row">{{ forloop.counter }}</th>
      <td><a href='{{ product.get_absolute_url }}'>{{ product.title }}</a>
        {% include 'cart/snippets/remove-product.html' with product_id=product.id %}
      </td>
      <td>{{ product.price }}</td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="2"></td>
      <td><b>Subtotal</b> $<span class='cart-subtotal'>{{ cart.subtotal }}</span></td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td><b>Total</b> $<span class='cart-total'>{{ cart.total }}</span></td>
    </tr>
    <tr>
      <td colspan="2"></td>
    </tr>

  </tbody>
</table>


{% else %}
<p class='lead'>Cart is empty</p>
{% endif %}
 <p class="text-right">
        <a href="{% url 'product:list' %}" class="button light">Continue shopping</a>
        <a href="{% url 'orders:order_create' %}" class="btn btn-primary">Checkout</a>

 </p>

{% endblock %}